* {
  font-family: "Roboto", system-ui, "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1/3;
  background-color: #1992d4;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-top,
.sidebar-middle div,
.sidebar-bottom div {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 40px;
  align-items: center;
  gap: 10px;
}

.sidebar-middle svg,
.sidebar-bottom svg {
  justify-self: center;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar p {
  font-weight: 600;
}

.sidebar svg,
.header svg {
  width: 20px;
  height: 20px;
}

svg[class="dashboard-icon"] {
  height: 40px;
  width: 40px;
}

/* HEADER */

.header {
  padding: 20px 30px;
}

.header .header-top {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 90px;
  max-width: 1200px;
}

.header-top form,
.header-top .header-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top input {
  background-color: #e2e8f0;
  font-size: 1rem;
  padding: 5px 15px;
  border: none;
  border-radius: 14px;
  width: clamp(260px, 38vw, 500px);
}

.header-user img {
  width: 37px;
  border-radius: 50%;
}

.header-user p {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.header .header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.header-bottom .header-hi {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-hi img {
  width: 55px;
  border-radius: 50%;
}

.header-hi p {
  font-size: 1.3rem;
  font-weight: 600;
  width: clamp(260px, 40vw, 500px);
}

.header-hi p:first-of-type {
  font-size: 0.8rem;
}

.header-bottom .header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-buttons button {
  color: white;
  background-color: #1992d4;
  font-size: 0.8rem;
  padding: 8px 24px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

/* MAIN CONTENT */

.main-content {
  background-color: #e2e8f0;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto;
  gap: 25px;
}

.main-content h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.main-content h3,
.main-content p {
  font-size: 0.9rem;
}

.main-content .your-project {
  grid-row: 1/-1;
}

.main-content .all-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.main-content .project {
  background-color: white;
  height: 177px;
  border-left: 10px solid #f0b429;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.project .project-actions {
  position: absolute;
  bottom: 20px;
  right: 25px;
  display: flex;
  gap: 20px;
}

.project-actions svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.project-actions svg:hover {
  opacity: 1;
}

.announcement-content,
.trending-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.announcement-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.announcement-content div:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 18px;
}

.trending-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.trending-content .content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trending img {
  width: 37px;
  border-radius: 50%;
}

.trending .name {
  font-weight: 600;
}
