* {
  font-family: "Roboto", system-ui, "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1/3;
  background-color: #1992d4;
  color: white;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar p {
  font-weight: 600;
}

.sidebar svg,
.header svg {
  width: 20px;
  height: 20px;
}

.dashboard-icon {
  width: 40px;
  height: 40px;
}

/* HEADER */

.header input {
  background-color: #e2e8f0;
  font-size: 1rem;
  padding: 5px 15px;
  border: none;
  border-radius: 14px;
}

.header-user img {
  width: 37px;
  border-radius: 50%;
}

.header-user p {
  font-size: 1rem;
  font-weight: 600;
}

.header-hi img {
  width: 55px;
  border-radius: 50%;
}

.header-hi p {
  font-size: 1.3rem;
  font-weight: 600;
}

.header-hi p:first-of-type {
  font-size: 0.8rem;
}

.header-buttons button {
  color: white;
  background-color: #1992d4;
  font-size: 0.8rem;
  padding: 8px 24px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

/* MAIN CONTENT */

.main-content {
  background-color: #e2e8f0;
}

.main-content h2 {
  font-size: 1rem;
}

.main-content h3,
.main-content p {
  font-size: 0.9rem;
}

.main-content .project {
  background-color: white;
  height: 130px;
  border-left: 10px solid #f0b429;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project svg {
  width: 18px;
  height: 18px;
}

.announcement-content {
  background-color: white;
  padding: 25px;
}

.announcement-content div:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
}

.trending img {
  width: 37px;
  border-radius: 50%;
}
